body, html {
    height: 70%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: black;
}

#bgVideo {
    position: fixed; 
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    overflow: hidden;
    transition: 1s opacity;
}

.content {
    z-index: 100;
    color: white; 
}
