body, html {
    height: 70%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: black;
}

#bgVideo {
    width: 70%; /* Adjust as needed */
    height: auto; /* Keeps aspect ratio */
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; /* Centering the video vertically */
    top: 50%;
    transform: translateY(-50%);
}

body {
    overflow: hidden; /* To hide vertical scroll caused by vertical centering */
}

.content {
    z-index: 100;
    color: white; 
}
